@font-face {
    font-family: Amatic;
    src: url(Amatic-Bold.ttf)
}
@font-face {
font-family: Quicksand;
src: url(Quicksand-Regular.otf)
}
ul#menu_horizontal li {
display: inline;
}
li {
    border-left: 1px solid white;
border-right: 1px solid white;
margin: 100px;
padding: 3px;
font-family: Amatic;
font-size: 40px;
}
a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
}
#logo img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin:auto;
    display:block
  }
  #logo {
text-align: center;
color: white;
  }

nav {
    overflow: auto;
}
h3 {
    font-family: Amatic;
    font-size: 30px;
    text-align: center;
}
h1 {
    font-family: Amatic;
    font-size: 60px;
    text-align: center;
}
p {
    text-align: justify;
    padding: 5px;
    margin: 5px;
    font-family: Quicksand;
}
body {
    background-color: rgba(171, 171, 171, 0.3)
}
#photopara
{
    display: flex;
    justify-content: center;
    flex-flow: row;
}
i.html {
 color: #f66d11;
 margin: 10px;
 width: 12%;
}
i.css {
    color: #0bb1ef;
    margin: 10px;
    width: 12%;
}
i.js {
    color: yellow;
    margin: 10px;
    width: 12%;
}
i.php {
    color: #b87bc1;
    margin: 10px;
    width: 12%;
}
.container {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.nowrap {
    flex-wrap: nowrap;
}
.space-around {
    justify-content: space-around;
}
.column {
    flex-direction: column;
}
.content-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
img {
    margin: 20px;
}
footer, header {
    background-color: #9f68a6;
}
.gitlab, .linkedin {
    color: white;
    margin: 5px;
}
.footer {
    display: flex;
justify-content: flex-end;
}
form input, form textarea {
    width: 500px;
}
form input[type=submit] {
    width: 100px;
    border-radius: 7px;
    box-shadow: 0.5px solid black;
    background-color: #9f68a6;
}
textarea {
    font-family: Quicksand;
    font-size: 20px;
    border-radius: 7px;
}
input
{
  opacity: 0.7;
  margin: 10px;
}
input[type="text"]
{
    font-family: Quicksand;
    font-size: 20px;
    border-radius: 7px;
}
.presentation {
    position: absolute;
    top: 160px;
    right: 640px;
    background-color: rgba(171, 171, 171, 0.7);
    padding: 30px;
    text-shadow: 1px 1px black;
}
#about, #cv, #projects, #contact {
    text-shadow: 1px 1px #9f68a6;
}
.intro {
    padding: 70px;
}
* {
    box-sizing: border-box;
}
.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
  }
  .html1 {
      width: 60%; 
      background-color: #9f68a6;
    }
    .css1 {
        width: 60%; 
        background-color: #9f68a6;
      }
      .js1 {
        width: 20%; 
        background-color: #9f68a6;
      }
      .php1 {
        width: 20%; 
        background-color: #9f68a6;
      }
      .barre {
          background-color: rgba(171, 171, 171, 0.5);
          width: 80%;
      }
      .arrow {
          color: #9f68a6;
          display: flex;
          justify-content: flex-end;
          position: fixed;
          bottom: 60px;
          right: 10px;
          overflow: auto; 
      }
      input[type="submit"] {
          font-family: Quicksand;
          font-size: 17px;
          font-weight: bold;
      }
      i {
          text-shadow: none;
      }